<div id="events" class="events" style="padding-top:50px;padding-bottom:50px" >
  <div class="container-fluid" >
    <h1>DSA COVID Events</h1>
    <dl>
    	<dt>1st DSA Covid-19 Webinar on April 8th, 1600 GMT</dt>
    	<dd>Discussion on how we are responding to the pandemic, info on how and where to help. 
    		Key agenda include:
    			<ul>
    				<li>Highlight the efforts by data scientists to combat this pandemic.</li>
					<li>Determine avenues for collaboration.</li>
					<li>Link data scientists with domain experts.</li>
    			</ul>
    		Talks live-streamed on Youtube included:
            <ul>
                <li>Introduction - Prof Neil Lawrence, Prof Elaine Nsoesie, Dr Ciira Maina</li>
                <li>Uncovering the uncertainty and confusion surrounding the spread, symptoms, causes and treatment of COVID-19 - Morine Amutorine</li>
                <li>Just-in-time data: Using real-time data visualization to combat COVID-19 - Osamai Osbert</li>
                <li>Putting Zindi's machine learning community to work on COVID-19 - Paul Kennedy</li>
                <li>AI4COVID-19 Research & Development  - Darlington Akogo</li>
                <li>Q&A and Visualisation and Data Collection Roundtable - Osamai Osbert, Mike Endale, John Quinn, Joyce Nakatumba, Bright Onapito</li>
                <li>Resource-optimal testing mechanisms for COVID-19 - Francisco Marmolejo-Cossío</li>
                <li>Epidemiology Analysis of the Risk  of COVID-19 in Nigeria - Abimbola Olawale Victor</li>
                <li>A mathematical modeling consortium for COVID-19 epidemic prediction and resource allocation in South Africa - Brooke Nichols</li>
                <li>Exploring lockdown exit strategies - Andrei Paleyes</li>
                <li>Q&A and Modelling Roundtable - Abraham D. Flaxman, Abimbola Olawale Victor, Brooke Nichols, Elaine Nsoesie</li>
                <li>Conclusion and Next Steps  - Prof Elaine Nsoesie</li>
            </ul>
    	</dd>

    </dl>
  </div>
</div>
    
